/******google font***** */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;

}
/* header part */

.container{
    margin-bottom: 100px ;
}

.header-nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background:linear-gradient( gray, white);

    top: 0;
}

.nav{
    display: grid;
    grid-template-columns: repeat(4,100px);
    list-style-type: none;

}

.nav>li>a{
    text-decoration: none;
}
.nav-sm{
    display: none;
}
.header-img{
    background-image:  url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    box-shadow:10px 10px #888888;
    width: 100%;
    height: 500px;
}

.header-title{
    text-align: center;
    padding-top: 100px;
    color: white;
}
.header-para{
    text-align: center;
    margin: 0 200px 0 200px ;
    padding-top: 20px;
    color:white;
    background-color:rgba(68, 8, 179,.3);
    box-shadow: 0 0 90px  rgb(68, 13, 172);
}
.button-header{
    display: flex;
    justify-content: center;
    margin:40px;
}
.button-link{
    background-color:rgb(132, 92, 206);
    width: 100px ;
    height: 35px ;
    border-radius: 5px ;
}
.button-link a{
    text-decoration: none;
    font-size: 16px ;
}
.login{
    margin-right: 50px;
}

/* web part */

.title{
    text-align: center;
}

.webs{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.web{
    border: 2px solid gray;
    padding: 10px 10px 10px 10px;
    margin: 50px ;
}

.web img{
    border: 2px solid gray;
    width: 100%;
}


/* tech part */

.tech-info{
    background-color: rgba(248, 147, 14, 0.582);
    box-shadow: 10px 10px 40px rgb(236, 173, 12) ;
    border-radius: 50px ;
}

.techs{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.tech{
    border: 2px solid gray;
    padding: 10px 10px 10px 10px;
    margin: 50px ;
}

.tech img{
    border: 2px solid gray;
    width: 100%;
}

/* footer part */

.footer{
    background-image: url(images/footer.jpg);
    width:100%;
    height: 300px ;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-info h1{
    padding: 100px;
    color:rgb(49, 46, 46);
}

/* 
*
*
*
*
*
*
 */
/* small device */
@media only screen and (max-width: 600px) {

    .nav{
        display: none;
    }
    .nav-sm{
        display: inline;
    }

    .sm{
        display: none;
    }

    .nav-sm:hover .sm{
        display: inline;
        position: absolute;
        background-color: rgba(138, 162, 177,.3);
        box-shadow: 0 0 50px rgb(138, 162, 177);
    }

    .sm>li{
        list-style-type: none;
        margin-bottom: 10px;
    }
    .sm>li>a{
        text-decoration: none;
        color: black;
    }
    .header-para{
        text-align: center;
        margin: 0 50px 0 50px ;
        padding-top: 20px;
        color:white;
        background-color:rgba(68, 8, 179,.3);
        box-shadow: 0 0 90px  rgb(68, 13, 172);
    }

    .webs{
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .techs{
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}

/* tablet device */

@media (min-width:601px) and (max-width:900px) {
    .header-para{
        text-align: center;
        margin: 0 100px 0 100px ;
        padding-top: 20px;
        color:white;
        background-color:rgba(68, 8, 179,.3);
        box-shadow: 0 0 90px  rgb(68, 13, 172);
    }

    .webs{
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .techs{
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}